<% content_for :head do %>
  <%= include_tiny_mce_if_needed %>
<% end %>
<% form_for @question do |f| %>
  <%= f.error_messages %>
  <p class='form-input'>
    <%= f.label :title, t('forum.title') %><br />
    <%= f.text_field :title %>
  </p>
  <p class='form-input'>
    <%= f.label :content, t('forum.content') %><br />
    <%= f.text_area :content, :size => '60x20', :class => "mceEditor" %>
  </p>
  <p class='form-input'>
  <%= f.label :tag, t('forum.tags') %><%= t('forum.tag_space') %><br />
  <%= f.text_field :tag_list %>
  </p>
  <p><%= f.submit t("action.submit") %></p>
<% end %>
