<% title t("site.forum") %>
<% description t("site.forum") %>
<% keywords t("site.forum") %>

<% unless params[:user_id] %>
  <div class='top-function-menu'>
    <span class='btn btn-active'><%= link_to t("forum.ask"), new_question_path %></span>
  </div>
<% end %>

<table id='questionlist'>
  <tr>
    <th><%= t'forum.title' %></th>
    <th><%= t'forum.content' %></th>
    <th><%= t'forum.comments_count' %></th>
    <th><%= t'forum.last_comment' %></th>
  </tr>
  <% for question in @questions %>
    <tr>
      <td class='question_title'>
        <%= link_to h(question.title), question %>
      </td>
      <td>
        <%= truncate_u(Sanitize.clean(question.content), 18) %>
      </td>
      <td>
        <%= question.comments_count %>
      </td>
      <td>
        <%= question.last_comment_time.to_s(:date) %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @questions %>
