<% title "解惑" %>
<% description "解惑" %>
<% keywords "解惑" %>

<div class='top-function-menu'>
  <%= link_to "發問", new_question_path %>
</div>

<table id='questionlist'>
  <tr>
    <th>標題</th>
    <th>內容</th>
    <th>回應數</th>
    <th>最後回應</th>
  </tr>
  <% for question in @questions %>
    <tr>
      <td class='question_title'>
        <%= link_to h(question.title), question %>
      </td>
      <td>
        <%= truncate_u(Sanitize.clean(question.content), 18) %>
      </td>
      <td>
        <%= question.comments_count %>
      </td>
      <td>
        <%= question.last_comment_time.to_s(:date) %>
      </td>
    </tr>
  <% end %>
</table>
<%= will_paginate @questions %>
