<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{@question.updated_at.to_s(:fulltime)}") do
    title @question.title 
    description "#{truncate_u(Sanitize.clean(@question.content), 100)}" 
    keywords @question.tag_list 
    display_meta_tags :site => t('site.name') 
  end %>  
<% end %>

<p>
  <h2><%=h @question.title %></h2>
  <span class='exp_author'> 
    By <%= link_to_user_home(@question.user) %>
  </span>

  <% if can? :update, @question %>
    <span class='question_function'>
      <%= link_to t('action.edit'), edit_question_path(@question) %>
    </span>
  <% end %>
  <span class='question_function'>
    <% if can? :destroy, @question %>
      <%= link_to t('action.destroy'), @question, :confirm => t('action.confirm'), :method => :delete %>
    </span>
  <% end %>
</p>
<p class='question-content'>
  <%= @question.content %>
</p>
<strong><%= t'forum.tags' %>: </strong>
<span class='tags_func'>
  <% tag_link @question %>
</span>

<p>
  <span class='question_function'><%= link_to t("forum.back"), questions_path %></span>
</p>
<hr >
<%= render :partial => 'comments/form' %>

<h3><%= t'comment.label' %></h3>
<div class='commentlist'>
  <% @comments.each do |c| %>
    <div class='comment'>
      <h3>
        <span class='exp_author'>
          <%= link_to_user_home(c.user) %>
        </span> 
        <%= t'comment.reply' %>...
      </h3>
      <div><%= Sanitize.clean(c.comment) %></div>
    </div>
  <% end %>
</div>
