<% form_for @profile, :url => user_profile_path(current_user), :method => :put do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :birthday, '生日' %><br />
    <%= f.date_select :birthday, :start_year => 1920, :use_month_numbers => true, :default => {:month => 1, :day => 1} %>
  </p>
  <p>
    <%= f.label :gender, '性別' %><br />
    <%= f.select :gender, GENDER_TYPE.to_select_options %>
  </p>
  <p>
    <%#= country_select("profile", "location_list") %>
    <%= localized_country_select(:profile, :location_list, [], :include_blank => '請選擇...') %>
  </p>
  <p>
    <%= f.label :intro, '自我介紹' %><br />
    <%= f.text_area :intro, :size => '40x10' %>
  </p>
  <p>
    <%= f.label :tag, '關鍵字' %><br />
    <p class='desc'>請用關鍵字描述自己的職業, 興趣, 技能, 目標, 夢想, 經驗等</p>
    <p class='desc'>如工程師 足球 羽球 星海 魔獸 遊戲 網站開發（請用空白隔開）</p>
    <%= f.text_field :tag_list, :size => 100 %>
  </p>

  <p><%= f.submit "送出" %></p>
<% end %>
