<% form_for @profile, :url => user_profile_path(current_user), :method => :put do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday, :start_year => 1920, :use_month_numbers => true, :default => {:month => 1, :day => 1} %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.select :gender, GENDER_TYPE.to_select_options %>
  </p>
  <p>
    <%= country_select("profile", "location_list") %>
  </p>
  <p>
    <%= f.label :intro, '自我介紹' %><br />
    <%= f.text_area :intro, :size => '40x10' %>
  </p>
  <p>
    <%= f.label :tag, '經驗TAG' %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
