<% content_for :head do %>
  <%= include_tiny_mce_if_needed %>
<% end %>
<% form_for current_user, :url => user_profile_path(current_user), :method => :put do |user_form| %>
  <%= user_form.error_messages %>

  <% if current_user.init_user_email_username%>
    <!-- 只有facebook的user需要有重新修改username, email的機會 -->
    <p>
    <%= user_form.label :email, t('user.email') %><br />
    <%= user_form.text_field :email%>
    </p>
    <p>
    <%= user_form.label :username, t('registrations.account') %><br />
    <%= user_form.text_field :username %>
    </p>
  <% end %>

  <p>
    <%= user_form.label :nickname, t('user.nickname') %><br />
    <%= user_form.text_field :nickname %>
  </p>
  <% user_form.fields_for :profile do |profile_form| %>
    <p>
      <%= profile_form.label :birthday, t('user.birthday') %><br />
      <%= profile_form.date_select :birthday, :start_year => 1920, :use_month_numbers => true, :default => {:month => 1, :day => 1} %>
    </p>
    <p>
      <%= profile_form.label :gender, t('user.gender') %><br />
      <%= profile_form.select :gender, GENDER_TYPE.localize_to_select_options%>
    </p>
    <p>
      <%= profile_form.label :locale, t('user.locale') %><br />
      <%= profile_form.select :locale, LOCALES_AVAILABLE.map{|locale|[ t(locale), locale]} %>
    </p>
    <p>
      <label><%= t('user.country') %></label><br />
      <%= localized_country_select('user[profile_attributes]', 'location_list', [], {:selected => user_hometown}, :value => user_hometown) %>
    </p>
    <p>
      <%= profile_form.label :intro, t('user.intro') %><br />
      <%= profile_form.text_area :intro, :size => '50x15', :class => "mceEditor" %>
    </p>
    <p>
      <%= profile_form.label :tag, t('user.tags') %><br />
      <p class='desc'><%= t'user.profile1'%></p>
      <p class='desc'><%= t'user.profile2'%><strong><%= t'user.tag_space'%></strong></p>
      <%= profile_form.text_field :tag_list, :size => 100 %>
    </p>
  <% end %>

  <p><%= submit_tag t("action.submit") %></p>
<% end %>

<% content_for :bottom_js do %>
  <script type='text/javascript'>
    $(function() {
        $('#user_profile_attributes_location_list').attr('value', '<%= user_hometown %>');
    });
  </script>
<% end %>

