<% title "#{@user.nickname} Profile" %>

<p>
  <strong><%= t'user.nickname'%>:</strong>
  <%=h @user.nickname %>
</p>
<p>
<strong><%= t'user.birthday' %>:</strong>
<%=h @profile.birthday %>
</p>
<p>
<strong><%= t'user.gender'  %>:</strong>
<%= GENDER_TYPE[@profile.gender.to_s] %>
</p>
<p>
<strong><%= t'user.locale'%>:</strong>
  <%= t(@profile.locale) %>
</p>
<p>
<strong><%= t'user.country'%>:</strong>
  <%= @profile.location_list %>
</p>
<p>
<strong><%= t'user.intro'%>:</strong>
  <%= @profile.intro %>
</p>
<p>
<strong><%= t'user.tags'%>:</strong>
  <%= @profile.tag_list %>
</p>

<% if can? :update, @profile %>
  <p class='function'>
    <%= link_to t("action.edit"), edit_user_profile_path(current_user)%>
  </p>
<% end %>

<p>
  <%= link_to t("user.backhome"), user_home_path(@user.username) %>
</p>
