<% form_for @comment do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>
  <p>
    <strong>回應</strong><br />
    <%= f.text_area :comment, :size => '30x5' %>
  </p>
  <p><%= f.submit "送出" %></p>
<% end %>
