<% title "Comments" %>

<table>
  <tr>
    <th>Text</th>
  </tr>
  <% for comments in @comments %>
    <tr>
      <td><%=h comments.text %></td>
      <td><%= link_to "Show", comments %></td>
      <td><%= link_to "Edit", edit_comments_path(comments) %></td>
      <td><%= link_to "Destroy", comments, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comments", new_comments_path %></p>
