<% title params[:search] %>
<% description search_page_meta_tag(@questions, @goals, @experiences)%>
<% keywords params[:search] %>  
  <div id="home_search">
  <h4><!--不這樣都會偏掉我不會處理 orz -->　　</h4>
  <h2>搜尋你有興趣的</h2>
  <% form_tag search_url, :method => :get do %>
    <%= text_field_tag :search, nil, :size => 24 %>
    <%= submit_tag '搜尋', :name => nil %>
  <% end %>
  </div>
  <strong>使用的關鍵字是 <%= params[:search] || @tag.name %></strong>
  <span class='btn btn-active'>
    <%= link_to "吼！", search_rands_path %>
  </span>
<div class='search_item_list'>
  <% if ['goals', 'index', 'random'].include?(action_name) %>
    <div class='search_goal_items'>
      <h3>目標<%= link_to "#{@goals.total_entries}個結果- 秀全部", search_goals_path(:search => params[:search]) %></h3>
      <ul>
        <% @goals.each do |goal|%>
          <li class='goal_anchor'><%= link_to truncate_u(Sanitize.clean(goal.title), 15), goal %></li>
        <% end %>
      </ul>
      <%= will_paginate @goals if action_name == 'goals' %>
      <p class='share_function'>
        <%= link_to '分享你的目標', new_goal_path %>
      </p>
    </div>
  <% end %>

  <% if ['experiences', 'index', 'random'].include?(action_name) %>
    <div class='search_exp_items'>
      <h3>經驗 <%= link_to "#{@experiences.total_entries}個結果- 秀全部", search_exps_path(:search => params[:search]) %></h3>
      <ul>
        <% @experiences.each do |experience|%>
          <li class='exp_anchor'>
            <%= link_to truncate_u(Sanitize.clean(experience.content), 55), experience %>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @experiences if action_name == 'experiences' %>
      <p class='share_function'>
        <%= link_to '分享你的經驗', new_experience_path %>
      </p>
    </div>
  <% end %>
</div>
