<% title params[:search] %>
<% description search_page_meta_tag(@questions, @goals, @experiences)%>
<% keywords params[:search] %>  
  <div id="home_search">
  <h4><!--不這樣都會偏掉我不會處理 orz -->　　</h4>
  <h2><%= t'site.search_desc'%></h2>
  <% form_tag search_url, :method => :get do %>
    <%= text_field_tag :search, nil, :size => 24 %>
    <%= submit_tag t('site.search'), :name => nil %>
  <% end %>
  </div>
<div class='search_item_list'>
  <div class='search_exp_items'>
    <h3><%=t'exp.label'%></h3>
    <ul>
      <% @experiences.each do |experience|%>
        <% if experience %>
          <li class='exp_anchor'>
          <%= link_to truncate_u(Sanitize.clean(experience.content), 55), experience %>
          <% if experience.url %>
            <h4 class='url_title'>
              <%= link_to experience.url_title, experience.url, :target => '_blank' %>
            </h4>
            <p class='url_desc'>
            <%= experience.url_content %>
            </p>
          <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= will_paginate @experiences  %>
  </div>
</div>
