<%# form_tag search_url, :method => :get do %>
  <!--p>
    Search: <%#= text_field_tag :search %>
  </p>
  <p>
    <%#= check_box_tag :user_date_check %>
    <span id='user_start_at_date'>
      user born range: <%#= text_field_tag :age_start_at, current_user.try(:birthday).try(:to_s, :date) || Time.now.ago(30.years)%>
    </span>
    <span id='user_start_at_date'>
      ~ <%#= text_field_tag :age_end_at, current_user.try(:birthday).try(:since, 5.years).try(:to_s, :date) || Time.now.ago(25.years) %>
    </span>
  </p-->
  <%#= submit_tag 'Search', :name => nil %>
<%# end %>
<div class='search_item_list'>
  <% if ['questions', 'index'].include?(action_name) %>
    <div class='search_exp_items'>
      <h3>問題 <%= link_to "#{@questions.total_entries}個結果- 秀全部", search_questions_path(:search => params[:search]) %></h3>
      <ul>
        <% @questions.each do |question|%>
          <li class='question_anchor'>
            <%= link_to question.title, question %>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @questions if action_name == 'questions' %>
      <p class='share_function'>
        <%= link_to '說出你的煩惱', new_question_path %>
      </p>
    </div>
  <% end %>

  <% if ['goals', 'index'].include?(action_name) %>
    <div class='search_goal_items'>
      <h3>目標<%= link_to "#{@goals.total_entries}個結果- 秀全部", search_goals_path(:search => params[:search]) %></h3>
      <ul>
        <% @goals.each do |goal|%>
          <li class='goal_anchor'><%= link_to truncate_u(Sanitize.clean(goal.title), 15), goal %></li>
        <% end %>
      </ul>
      <%= will_paginate @goals if action_name == 'goals' %>
      <p class='share_function'>
        <%= link_to '分享你的目標', new_user_goal_path(current_user) %>
      </p>
    </div>
  <% end %>

  <% if ['experiences', 'index'].include?(action_name) %>
    <div class='search_exp_items'>
      <h3>經驗 <%= link_to "#{@experiences.total_entries}個結果- 秀全部", search_exps_path(:search => params[:search]) %></h3>
      <ul>
        <% @experiences.each do |experience|%>
          <li class='exp_anchor'>
            <%= link_to truncate_u(Sanitize.clean(experience.content), 55), experience %>
          </li>
        <% end %>
      </ul>
      <%= will_paginate @experiences if action_name == 'experiences' %>
      <p class='share_function'>
        <%= link_to '分享你的經驗', new_user_experience_path(current_user) %>
      </p>
    </div>
  <% end %>
</div>
