<p>
<%= I18n.t('mail.message', :locale => @user.locale) %>
<a href='<%= @host %><%= @url %>'><%= @chat.content %></a>
</p>
<% if @reply %>
  <p>
  <%= I18n.t('mail.reply', :locale => @user.locale) %> <%= ApplicationController.helpers.truncate_u(Sanitize.clean(@reply.content),20) %>
  </p>
<% end %>

<p>
<a href='<%= @host %><%= @url %>'><%= I18n.t('mail.see_here', :locale => @user.locale) %></a>
</p>
