<p>
Your message 
<a href='<%= @host %><%= @url %>'><%= @chat.content %></a>
</p>
<% if @reply %>
  <p>
  You have reply <%= ApplicationController.helpers.truncate_u(Sanitize.clean(@reply.content),20) %>
  </p>
<% end %>

<p>
<a href='<%= @host %><%= @url %>'>you could see it here</a>
</p>
