<p>
<%= @user.nickname %> <%= t('mail.noexp_desc1', :num => @goals.size, :locale => @user.locale)%>
</p>
<p>
  <%= @goals.join(', ')%>
</p>
<% if @fans_count > 0 %>
<p>
 <%= t('mail.noexp_desc2', :num => @fans_count, :locale => @user.locale)%>
</p>
<% end %>
<p>
 <%= t('mail.noexp_desc3', :locale => @user.locale)%>
  <%= link_to t("mail.new_exp_now", :locale => @user.locale), new_experience_url %>
</p>
