<p>
<%= I18n.t('mail.exp_notify')%> <%= ApplicationController.helpers.truncate_u(Sanitize.clean(@experience.content), 50) %>
</p>

<p>
<a href='<%= @host %><%= @url %>'><%= I18n.t('mail.see_here')%></a>
</p>
