<p>
<%= @user.nickname %>  <%= t('mail.nogoal_desc1', :locale => @user.locale )%>
</p>
<p>
<%= t('mail.nogoal_desc2', :locale => @user.locale )%>
<%= link_to t("mail.new_goal_now", :locale => @user.locale), new_goal_url %>
</p>
<p>
<%= t('mail.nogoal_desc3', :locale => @user.locale )%>
<%= link_to t('mail.others_goal', :locale => @user.locale), home_url %>
</p>
