
  <div id="home_search">
  <h4><!--不這樣都會偏掉我不會處理 orz -->　　</h4>
  <h2><%= t'site.search_desc' %></h2>
  <% form_tag search_url, :method => :get do %>
    <%= text_field_tag :search, nil, :size => 24 %>
    <%= submit_tag t('site.search'), :name => nil %>
  <% end %>
  </div>

  <div id='home_content'>
    <h4><%= t'exp.tags' %></h4>
    <div class='exp_tags'>
      <% tag_cloud(@exp_tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tag_url(:id => tag.name, :taggable_type => 'Experience'), :class => css_class %>
      <% end %>
    </div>

    <h4><%= t'exp.guys'%></h4>
    <div>
      <% @experiences.each do |experience| %>
        <div class='exp_cell'>
          <%= link_to truncate_u(Sanitize.clean(experience.content), 40), experience %>
        </div>
      <% end %>
    </div>
    <h4><%= t'site.hottest_guy'%></h4>
    <div>
      <% @popular_profiles.each do |profile| %>
        <div class='exp_author'>
          <%= link_to_user_home(profile.user) %>
        </div>
      <% end %>
    </div>
  </div>
  <div id='home_sidebar'>
    <h4><%= t'goal.tags'%></h4>
    <div class='goal_tags'>
      <% tag_cloud(@goal_tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
        <%= link_to tag.name, tag_url(:id => tag.name, :taggable_type => 'Goal'), :class => css_class %>
      <% end %>
    </div>

    <h4><%= t'goal.guys' %></h4>
    <ul class="menu">  
      <li id="working" class="active"><%= t'goal.working'%></li>  
      <li id="help"><%= t'goal.needhelp'%></li>  
      <li id="finish"><%= t'goal.finish'%></li>  
      <li id='goalmore'><%= link_to t('goal.moreothers'), goals_path(:state => 'working') %></li>  
    </ul> 
    <div class="clear"></div>
    <div class="menu_content working">  
      <% @working_goals.each do |goal| %>
        <div class='goal_cell'> <%= link_to truncate_u(goal.title, 40), goal %></div>
      <% end %>
    </div>  
    <div class="menu_content help">  
      <% @help_goals.each do |goal| %>
        <div class='goal_cell'> <%= link_to truncate_u(goal.title, 40), goal %></div>
      <% end %>
    </div>  
    <div class="menu_content finish">  
      <% @finish_goals.each do |goal| %>
        <div class='goal_cell'> <%= link_to truncate_u(goal.title, 40), goal %></div>
      <% end %>
    </div>  
    <h4><%= t'site.latest_guy'%></h4>
    <div>
      <% @latest_profiles.each do |profile| %>
        <div class='exp_author'>
          <%= link_to_user_home(profile.user) %>
        </div>
      <% end %>
    </div>
  </div>
