<% title t"site.name" %>
<% description t"site.desc" %>
<% keywords t"site.keywords" %>

<div id="homepage_header">
  <h1 id='homepage_logo'><%= t'site.name' %></h1>
  <div id='login'>
    <%= link_to t("registrations.link"), new_user_registration_path %> 
    |
    <%= link_to t("sessions.sign_in"), new_user_session_path %>
    <span class='anchor'>
      <%= language_selection %>
    </span>
  </div>
</div>

  <div id="overview">
    <h4><!--不這樣都會偏掉我不會處理 orz -->　　</h4>
    <h2><%= t'site.slogan1' %></h2>
    <h2><%= t'site.slogan2' %></h2>
  </div>
  <div class='clear'></div>
