<div id="homepage_header">
  <h1 id='homepage_logo'>傳 承</h1>
  <div id='login'>
    <%= link_to "現在就加入", new_user_registration_path %> 
    |
    <%= link_to "登錄", new_user_session_path %>
  </div>
</div>

  <div id="overview">
    <h4><!--不這樣都會偏掉我不會處理 orz -->　　</h4>
    <h2>記錄你的人生，分享你的經驗 </h2>
    <h2>你今日的經驗可能就是他人的明燈</h2>
  </div>
  <div id='introduce'>
    <div id="leftitem">
      <p class='intro'>如果你已有一些目標計畫</p>
      <p>我們將會定期提醒您的目標，也希望你可以分享著努力的經驗，同時你也可以認識到其他一同朝著相同目標努力的人, 可以參考彼此的經驗。</p>
    </div>

    <div id="rightitem">
      <p class='intro'>如果你還不知道做什麼</p>
      <p>你可以找到和自己相同自己背景的人們，看到其他人都在做些什麼，來幫助您找到自己的目標。</p>
    </div>
  </div>
  <div class='clear'></div>
  <div id='come_in'>
    <h2><%= link_to '進來看看', home_url %></h2>
  </div>
  <div class='clear'></div>
  <div id='demo'>
    <h2>Some Demo<h2>
    <div class='demo-item'>
      <%= image_tag('demo1.png')%>
    </div>
    <div class='demo-item'>
      <%= image_tag('demo1.png')%>
    </div>
    <div class='demo-item'>
      <%= image_tag('demo1.png')%>
    </div>
    <div class='demo-item'>
      <%= image_tag('demo1.png')%>
    </div>
  </div>


