<% form_for @chat do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :parent_id %>
  <p>
    <%= f.label :content, '意見' %><br />
    <%= f.text_area :content, :size => '60x4' %>
  </p>
  <p><%= f.submit "送出" %></p>
<% end %>
