<% form_for @chat do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :master_id %>
  <%= f.hidden_field :parent_id %>
  <p>
  <%= f.label :content, t('message.label') %><br />
  <%= f.text_area :content, :size => '60x4' %>
  </p>
  <p><%= f.submit t("action.submit") %></p>
<% end %>
