<% title t('message.label') %>
<% description @chats.last.try(:content) %>
<% if params[:user_id] %>
  <span class='anchor'>
    <%= link_to "#{h @user.showname}", user_home_path(@user.username) %> > <%= @user.showname %><%= t'message.board'%>
  </span>
<% else %>
  <h3><%= t'message.for_site'%></h3>
<% end %>
<%= render :partial => 'form' %>
<div class='chatlist'>
  <% for chat in @chats %>
    <div class='chat'>
      <h3>
        <span class='exp_author'>
          <%= link_to chat.user.nickname, user_home_path(chat.user.nickname) %>
        </span> <%= t'comment.say'%>...
        <% if can? :destroy, chat %>
          <%= link_to t("action.destroy"), chat, :confirm => t('action.confirm'), :method => :delete %>
        <% end %>
      </h3>
      <div><%= Sanitize.clean(chat.content) %></div>
      <div class='chat_reply'>
        <% chat.children.each do |c|%>
          <h3>
            <span class='exp_author'>
              <%= link_to c.user.nickname, user_home_path(c.user.username) %>
            </span> <%= t'comment.say'%>...
            <% if can? :destroy, c %>
              <%= link_to t("action.destroy"), c, :confirm => t('action.confirm'), :method => :delete %>
            <% end %>
          </h3>
          <div><%= Sanitize.clean(c.content) %></div>
        <% end %>
      </div>
      <%= link_to t("comment.reply"), reply_new_chat_path(:chat_id => chat) if chat.reply_permission(current_user) %>
    </div>
  <% end %>
</div>
<%= will_paginate @chats %>
