<% title "Chat" %>

<div class='chat'>
  <h3>
    <span class='exp_author'>
      <%= link_to @chat.user.nickname, user_home_path(@chat.user.username) %>
    </span> <%= t'comment.say'%>...
    <% if can? :destroy, @chat %>
       <%= link_to t("action.destroy"), @chat, :confirm => t('action.confirm'), :method => :delete %>
    <% end %>
  </h3>
  <div><%= Sanitize.clean(@chat.content) %></div>
  <div class='chat_reply'>
    <% @chat.children.each do |c|%>
      <h3>
        <span class='exp_author'>
          <%= link_to c.user.nickname, user_home_path(c.user.username) %>
        </span> <%= t'comment.say'%>...
        <% if can? :destroy, c %>
          <%= link_to t("action.destroy"), c, :confirm => t('action.confirm'), :method => :delete %>
        <% end %>
      </h3>
      <div><%= Sanitize.clean(c.content) %></div>
    <% end %>
  </div>
  <%= link_to t("action.reply"), reply_new_chat_path(:chat_id => @chat) if @chat.reply_permission(current_user) %>
</div>
