<% content_for :head do %>
  <%= include_tiny_mce_if_needed %>
<% end %>
<p>
  <%= @question.try(:content)%>
  <%= hidden_field_tag :question_id, @question.try(:id) %>
</p>

  <%= f.error_messages %>
  <div>
    <p>
      <%= f.label :start_at %><br />
      <%= f.date_select :start_at, :use_month_numbers => true, :start_year => current_user.try(:birthday).try(:year) || 1950 %>
    </p>
    <p>
      <%= f.label :end_at %><br />
      <%= f.check_box :end_at_exist %>
      <span id='end_at_date'>
        <%= f.date_select :end_at, :use_month_numbers => true, :start_year => current_user.try(:birthday).try(:year) || 1950 %>
      </span>
      <div id='end_at_untilnow'>
        <%= f.check_box :until_now %>
        現在持續進行
      </div>
    </p>
    <p>
      <%= f.label :public, '公開' %><br />
      <%= f.check_box :public %>
    </p>
  </div>

  <p>
    <%= f.label :exp_type, '影響' %><br />
    <%= f.select :exp_type, EXP_TYPE.to_select_options%>
  </p>
  <p>
    <%= f.label :goal_id, 'Goal'%><br />
    <%= f.select :goal_id, current_user.goals.map{|g|[g.title, g.id]}, {:prompt => 'Select Goal'}%>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :size => '60x20', :class => "mceEditor" %>
  </p>
  <p>
    <%= f.label :content, 'Select the color you like' %><br />
    <%= f.text_field "color", :id => 'colorPicker' %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
