<% content_for :head do %>
  <%= include_tiny_mce_if_needed %>
<% end %>

  <div>
    <%= f.label :goal_id, t('exp.select_goal') %>
    <span class='anchor'>
      <%= link_to t("goal.new"), new_goal_path(:rel => 'facebox', :state => 'goal'), :rel => "facebox"  %>
    </span>
    <span id='action_working_status' class='loading' style='display:none'><%= t'action.increasing'%>...</span>
    <span id='action_comeplete_status' class='complete' style='display:none'><%= t'action.increased'%></span>
    <span id='action_fail_status' class='fail' style='display:none'><%= t'action.create_fail'%></span>
    <br />
    <span id='exp_categories'>
      <%= f.select :goal_id, current_user.goals.map{|g|[g.title, g.id]}, {:include_blank => true}%>
    </span><br />

    <div class='normal'>
      <span class='content-switch normal'>normal</span>
      <span>advance</span>
    </div>
    <div class='advance'>
      <span>normal</span>
      <span class='content-switch advance'>advance</span>
    </div>

    <div class='advance-content'>
      <%= f.text_area :content, :size => '60x10', :class => 'mceEditor' %>
    </div>

    <div class='normal-content'>
      <%= f.text_area :content, :size => '60x5' %>
    </div>
    <% if action_name == 'edit' && @experience.url %>
      <div>
        <%= f.label :url_title %><br />
        <%= f.text_field :url_title %>
      </div>
      <div>
        <%= f.label :url_content %><br />
        <%= f.text_area :url_content, :size => '60x5'  %>
      </div>
    <% end %>
    <br />
  </div>
  <%= image_tag('ajax-loader.gif', :id => 'ajax_loading') %>
  <div id='url_title_desc'>
  </div>

  <p>
  <%= f.submit t('action.submit') %>
  </p>

