<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{@user.profile.updated_at.to_s(:fulltime)}") do
    title "#{@user.nickname} 的傳承"
    description "#{truncate_u(Sanitize.clean(@user.profile.intro || ''), 100)}" 
    keywords @user.profile.tag_list 
    display_meta_tags :site => '傳承' 
  end %>  
<% end %>

<div id='user_exp_profile'>
  <div class='exp_profile_cell anchor'>
    <strong>暱稱:</strong>
    <%= link_to "#{h @user.nickname}", user_home_path(@user.username)%>
  </div>
  <div class='exp_profile_cell anchor'>
    <strong>個人檔案:</strong>
    <%= link_to "簡介", user_profile_path(@user), {:class => 'profile'} %>
  </div>
  <div class='exp_profile_cell anchor'>
    <strong>解惑:</strong>
    <%= link_to "解惑", user_questions_path(@user), {:class => 'profile'} %>
  </div>
  <dl>
    <dt>
    <strong>目標:</strong>
    <% if can?(:create, Goal) && @user.is_owner?(current_user)%>
      <%= link_to "新增目標", new_goal_path(:goal => {'category' => 'goal'}) %>
    <% end %>
    </dt>

    <% for goal in @goals %>
      <dd class='anchor'>
      <%=link_to h(goal.title), user_exps_path(@user, goal) %>
      </dd>
    <% end %>
  </dl>
  <dl>
    <dt>
    <strong>分類:</strong>
    <% if can?(:create, Goal) && @user.is_owner?(current_user)%>
      <%= link_to "新增分類", new_goal_path %>
    <% end %>
    </dt>

    <% for category in @categories %>
      <dd class='anchor'>
      <%=link_to h(category.title), user_exps_path(@user, category), ( category.id == params[:goal_id].to_i ? {:class => 'active'} : category.tab_style ) %>
      </dd>
    <% end %>
  </dl>
</div>
<div id='exp_chart'>
</div>
<div id='exp_number'>
<strong>資料筆數</strong>
<%= select 'experience', 'data_number', DATA_NUMBER.sort{|a,b|a[0] <=> b[0]}, {:selected => current_data_number.to_i}%>
</div>
<div class='clear'></div>

<div class='grid-top'>
  <div id='fans_area'>
    <span id='exp_follower'>
      <strong>粉絲</strong>
      <span class='fans_anchor'>
        <%= link_to @user.fans_count, user_fans_path(@user) %>
      </span>
    </span>
    <% if !@user.is_owner?(current_user)%>
      <span>
        <% if @fan.new_record? %>
          <% form_for @fan, :html => {:id => 'trigger_follow'} do |f| %>
            <%= f.hidden_field :fannable_id %>
            <%= f.hidden_field :fannable_type %>
            <%= f.hidden_field :user_id %>
            <%= f.submit "訂閱", :name => nil%>
          <% end %>
        <% else %>
          <%= link_to '取消訂閱', @fan, :confirm => 'Are you sure?', :method => :delete, :id => 'trigger_follow' %>
        <% end %>
      </span>
    <% end %>
    <span id='exp_ifollew'>
      <strong>訂閱</strong>
      <span class='fans_anchor'>
        <%= link_to @user.user_ifollow_count, ifollow_user_fans_path(@user) %> 
      </span>
    </span>
  </div>
  <% if @current_goal %>
    <div id='goal_desc_area'>
        <div>
          <span class='anchor'><%= link_to "回到全部經驗", user_home_path(@user.username) %></span>
        </div>
        <div>
          <strong><%= GOAL_CATEGORY[@current_goal.category] %>名稱:</strong>
          <span class='anchor'><%= link_to  @current_goal.title, @current_goal %></span>
          <% unless @current_goal.is_category? %>
            <strong>起始:</strong>
            <%= @current_goal.start_at.to_s(:date)%>
            <strong>狀態:</strong>
            <%= GOAL_STATES[@current_goal.state] %>
          <% end %>
        </div>
        <div id='goal_detail'>
          <span class='goal_desc'>
            <%= link_to "#{truncate_u(Sanitize.clean(@current_goal.content), 100)}", @current_goal %>
          </span>
          <span class='anchor'><%= link_to ">>more", @current_goal %></span>
        </div>
    </div>
  <% end %>
</div>
<div class='clear'></div>
<div id='exp_list'>
  <h2>經驗
    <% if can?(:create, Experience) && @user.is_owner?(current_user) %>
      <span id='new_exp'>
        <% if @current_goal %>
          <%= link_to ' ( 新增 ) ', new_goal_experience_path(@current_goal) %>
        <% else %>
          <%= link_to ' ( 新增 ) ', new_user_experience_path(current_user) %>
        <% end %>
      </span>
    <% end %>
  </h2>
  <ul>
    <% params_hash = @current_goal ? {:goal_id => @current_goal.id} : {}%>
    <% @experience_groups.keys.each do |time| %>
      <li><h3><%= time.to_s(:ym)%></h3></li>
      <% @experience_groups[time].each do |experience| %>
        <li class='exp_list_cell'>
          <span class='time'>
            <%= experience.start_at.to_s(:md) if experience.start_at %>
            <%= experience.end_at_date %>
          </span>
          <span class='exp_content'>
            <%= link_to truncate_u(Sanitize.clean(experience.content), 30), experience_path(experience, params_hash) %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class='clear'></div>

<% content_for :head do %>
  <script>
    Timeline_ajax_url= '<%= javascript_path "timeline/timeline_ajax/simile-ajax-api.js" %>';
    Timeline_urlPrefix='<%= "#{ActionController::Base.asset_host}/javascripts/timeline/timeline_js/" %>';
    Timeline_parameters="bundle=true";
  </script>
  <%= javascript_include_tag 'timeline/timeline_js/timeline-api.js' %>
<% end %>

<% content_for :bottom_js do %>
  <script>
    user_event= <%= @events %>;
    timeline_start_at = new Date(<%= timeline_start_time(@user) %>);
    timeline_default_at = new Date(<%= @current_goal.try(:start_at).try(:to_s, :js_date) || @experiences.first.try(:start_at).try(:to_s, :js_date) %>);
  </script>
<% end %>


