<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{@user.profile.updated_at.to_s(:fulltime)}") do
    title "#{@user.nickname} 的傳承"
    description "#{truncate_u(Sanitize.clean(@user.profile.intro || ''), 100)}" 
    keywords @user.profile.tag_list 
    display_meta_tags :site => '傳承' 
  end %>  
<% end %>

<%= facebook_like %>
<%= share_button %>

<div id='user_exp_profile'>
  <div class='user_header'>
  <% if @current_goal %>
    <h3 class='avatared anchor'><%= link_to "#{h @user.showname}", user_home_path(@user.username) %> > <%= @current_goal.title %></h3>
  <% else %>
    <h1 class='avatared'><%= "#{h @user.showname}" %></h1>
  <% end %>
  <div id='fans_area'>
    <% if can?(:create, Goal) && @user.is_owner?(current_user)%>
      <span class='btn btn-active'>
        <%= link_to "新增目標", new_goal_path(:goal => {'category' => 'goal'}) %>
      </span>
    <% end %>
    <% if !@user.is_owner?(current_user)%>
      <% if @fan.new_record? %>
        <% form_for @fan, :html => {:id => 'trigger_follow'} do |f| %>
          <%= f.hidden_field :fannable_id %>
          <%= f.hidden_field :fannable_type %>
          <%= f.hidden_field :user_id %>
          <%= f.submit "訂閱", :name => nil, :class => 'btn'%>
        <% end %>
      <% else %>
        <span class='btn'>
          <%= link_to '取消訂閱', @fan, :confirm => 'Are you sure?', :method => :delete %>
        </span>
      <% end %>
    <% end %>
    <span class='btn btn-active'>
      <%= link_to "留言版", user_chats_path(@user), {:class => 'profile'} %>
    </span>
    <span id='exp_follower'>
      <strong>粉絲</strong>
      <span class='fans_anchor'>
        <%= link_to @user.fans_count, user_fans_path(@user) %>
      </span>
    </span>
    <span id='exp_ifollew'>
      <strong>訂閱</strong>
      <span class='fans_anchor'>
        <%= link_to @user.user_ifollow_count, ifollow_user_fans_path(@user) %> 
      </span>
    </span>
    <span id='profile_hide_show' class='profile_show'> &nbsp; &nbsp; &nbsp; </span>
  </div>
</div>
  <div class='clear'></div>
  <div id='user_content'>
    <div class='exp_profile_content anchor'>
      <p>
      <strong>生日:</strong>
      <%=h @user.profile.birthday %>
      </p>
      <p>
      <strong>性別:</strong>
      <%= GENDER_TYPE[@user.profile.gender.to_s] %>
      </p>
      <p>
      <strong>國家:</strong>
      <%= @user.profile.location_list %>
      </p>
      <p>
      <strong>自我介紹:</strong>
      <%= @user.profile.intro %>
      </p>
      <p>
      <strong>標籤:</strong>
      <%= @user.profile.tag_list %>
      </p>

      <% if can? :update, @user.profile %>
        <p class='function'>
        <%= link_to "編輯", edit_user_profile_path(current_user)%>
        </p>
      <% end %>
    </div>
    <div class='exp_goal_content anchor'>
      <dl>
        <dt>
        <strong>目標:</strong>
        <% if can?(:create, Goal) && @user.is_owner?(current_user)%>
          <span class='btn btn-active'>
            <%= link_to "新增目標", new_goal_path(:goal => {'category' => 'goal'}) %>
          </span>
        <% end %>
        </dt>

        <% if @goals.size.zero? %>
          <em>Don't have goal yet</em>
        <% else %>
          <% for goal in @goals %>
            <dd class='anchor'>
            <%=link_to h(goal.title), user_exps_path(@user, goal) %>(<%= GOAL_STATES[goal.state] %>)
            </dd>
          <% end %>
        <% end %>
      </dl>
    </div>
    <% if @current_goal %>
      <div id='goal_desc_area'>
        <div>
          <strong><%= GOAL_CATEGORY[@current_goal.category] %>名稱:</strong>
          <span class='anchor'><%= link_to  @current_goal.title, @current_goal %></span>
          <% unless @current_goal.is_category? %>
            <div>
              <strong>起始:</strong>
              <%= @current_goal.start_at.to_s(:date)%>
            </div>
            <div>
              <strong>狀態:</strong>
              <%= GOAL_STATES[@current_goal.state] %>
            </div>
          <% end %>
        </div>
        <div id='goal_detail'>
          <span>
            <%= link_to Sanitize.clean(@current_goal.content), @current_goal %>
          </span>
          <span class='anchor'><%= link_to '>>more', @current_goal %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id='exp_chart'>
</div>
<div id='exp_number'>
<strong>資料筆數</strong>
<%= select 'experience', 'data_number', DATA_NUMBER.sort{|a,b|a[0] <=> b[0]}, {:selected => current_data_number.to_i}%>
</div>
<div class='clear'></div>

<% if @current_goal %>
  <% content_for :sider do %>
    <%= Handcache.get_and_set("#{params.values.sort.to_s}-sider", :expires_in => 60 ) do
      render :partial => 'goals/show_sider', :locals => {:goal => @current_goal}
    end %>  
  <% end %>
<% end %>


<div id='exp_list'>
  <h2>經驗
    <% if can?(:create, Experience) && @user.is_owner?(current_user) %>
      <span id='new_exp' class='btn btn-active'>
        <% if @current_goal %>
          <%= link_to ' ( 新增 ) ', new_goal_experience_path(@current_goal) %>
        <% else %>
          <%= link_to ' ( 新增 ) ', new_user_experience_path(current_user) %>
        <% end %>
      </span>
    <% end %>
  </h2>
  <ul>
    <% params_hash = @current_goal ? {:goal_id => @current_goal.id} : {}%>
    <% @experience_groups.keys.each do |time| %>
      <li><h3><%= time.to_s(:ym)%></h3></li>
      <% @experience_groups[time].each do |experience| %>
        <li class='exp_list_cell'>
          <span class='time'>
            <%= experience.start_at.to_s(:md) if experience.start_at %>
            <%= experience.end_at_date %>
          </span>
          <span class='exp_content'>
            <%= link_to truncate_u(Sanitize.clean(experience.content), 30), experience_path(experience, params_hash) %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<div class='clear'></div>

<% content_for :head do %>
  <script>
    Timeline_ajax_url= '<%= javascript_path "timeline/timeline_ajax/simile-ajax-api.js" %>';
    Timeline_urlPrefix='<%= "#{ActionController::Base.asset_host}/javascripts/timeline/timeline_js/" %>';
    Timeline_parameters="bundle=true";
  </script>
  <%= javascript_include_tag 'timeline/timeline_js/timeline-api.js' %>
<% end %>

<% content_for :bottom_js do %>
  <script>
    user_event= <%= @events %>;
    timeline_start_at = new Date(<%= timeline_start_time(@user) %>);
    timeline_default_at = new Date(<%= @current_goal.try(:start_at).try(:to_s, :js_date) || @experiences.first.try(:start_at).try(:to_s, :js_date) %>);
  </script>
  <%= javascript_include_merged :secondary %>
<% end %>


