<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{I18n.locale}-#{@user.profile.updated_at.to_s(:fulltime)}") do
    title "#{@user.nickname} #{t'exp.someone'}"
    description "#{truncate_u(Sanitize.clean(@user.profile.intro || ''), 100)}" 
    keywords @user.profile.tag_list 
    display_meta_tags :site => t('site.name'), :noindex => true, :nofollow => true
  end %>  
<% end %>
<% content_for :bottom_js do%>
  <%= javascript_include_tag 'rsp' %>
<% end %>

<div id='user_exp_profile'>
  <div class='user_header'>
    <h1 class='avatared'>
      <%= "#{h @user.showname}" %>
    </h1>
  </div>
  <div class='clear'></div>
  <div id='user_content' class='exp_goal_content anchor'>
    <dl>
      <dt>
      <strong><%= t'goal.label'%>:</strong>
      </dt>
      <dd class='anchor'>
      <%= link_to_unless_current t("goal.all"), user_home_path(current_user.username)  %>
      </dd>
      <% if @goals.size.zero? %>
        <em><%= t'goal.non'%></em>
      <% else %>
        <% for goal in @goals %>
          <dd class='anchor goal_list_cell'>
          <%=link_to_unless_current h(goal.title), user_exps_path(@user, goal) %>
          <div class='goal_function goal-info'>
            <%= link_to t('action.edit'), edit_goal_path(goal) %>
            <%= link_to t('action.destroy'), goal, :confirm => t('action.confirm'), :method => :delete %>
          </div>
          </dd>
        <% end %>
      <% end %>
      <%= simple_format(@current_goal.try(:content)) %>
    </dl>
  </div>
  <div class='exp_new'>
    <% form_for([current_user, @experience]) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>

</div>
<div id='exp_number' class='anchor'>
  <strong><%= t'exp.number'%></strong>
<%= select 'experience', 'data_number', DATA_NUMBER.sort{|a,b|a[0] <=> b[0]}, {:selected => current_data_number.to_i}%>
</div>
<div class='clear'></div>

<div id='exp_list'>
<div class='clear'></div>

<ul>
  <% @experience_groups.keys.each do |time| %>
    <li><h3><%= time.to_s(:ym)%></h3></li>
    <% @experience_groups[time].each do |experience| %>
      <span>
        <li class='exp_list_cell'>
          <span class='time'>
            <%= experience.start_at.to_s(:md) if experience.start_at %>
            <%= experience.end_at_date %>
          </span>
          <span class='exp_content'>
              <%= experience.content %>
          </span>
          <% if experience.url %>
            <h4 class='url_title'>
              <%= link_to experience.url_title, experience.url, :target => '_blank' %>
            </h4>
            <p class='url_desc'>
            <%= experience.url_content %>
            </p>
          <% end %>
          <div class='exp-info function'>
            <%= link_to t('action.edit'), edit_experience_path(experience) %>
            <%= link_to t('action.destroy'), experience, :confirm => t('action.confirm'), :method => :delete %>
            <%= link_to t('action.share'),  create_share_url_experience_path(experience), :class => 'share_link' %>
          </div>
          <%= image_tag('ajax-loader.gif', :class => 'share_ajax_loading') %>
          <div class='share-link-partial'>
          </div>
        </li>
      </span>
    <% end %>
  <% end %>
</ul>
</div>
