<% title "#{@user.username} experiences" %>

<div id='exp_chart'>
</div>

<div class='grid-top'>
  <div id='fans_area'>
    <span id='exp_follower'>我的粉絲 <%= link_to @user.fans_count, user_fans_path(@user) %></span>
    <% if !@user.is_owner?(current_user)%>
      <span>
        <% if @fan.new_record? %>
          <% form_for @fan, :html => {:id => 'trigger_follow'} do |f| %>
            <%= f.hidden_field :fannable_id %>
            <%= f.hidden_field :fannable_type %>
            <%= f.hidden_field :user_id %>
            <%= f.submit "訂閱", :name => nil%>
          <% end %>
        <% else %>
          <%= link_to '取消訂閱', @fan, :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </span>
    <% end %>
    <span id='exp_ifollew'>
      我的訂閱 <%= link_to @user.user_ifollow_count, ifollow_user_fans_path(@user) %> 
    </span>
  </div>
  <% if @current_goal %>
    <div id='goal_detail'>
      <%= link_to truncate_u(Sanitize.clean(@current_goal.content), 22), @current_goal %>
      <%h tag_link @current_goal %>
      <%=h @current_goal.start_at.to_s(:date) if @current_goal.start_at %>
      <%=h @current_goal.state %>
      <% if can? :update, @current_goal %>
        <%= link_to "Edit", edit_goal_path(@current_goal) %>
      <% end %>
      <% if can? :destroy, @current_goal%>
        <%= link_to "Destroy", @current_goal, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </div>
  <% end %>
</div>
<div class='clear'></div>

  <div id='goal_list'>
    <h2>目標/計畫</h2>
      <div>
        <%= link_to "All", user_experiences_path(@user),
            ( current_page?(user_experiences_path(@user)) ? {:class => 'goal_here'} : nil) %>
      </div>
      <% for goal in @goals %>
        <div>
          <%=link_to h(goal.title), user_exps_path(@user, goal),
            ( current_page?(user_exps_path(@user, goal)) ? {:class => 'goal_here'} : nil) %>
        </div>
      <% end %>
      <% if can?(:create, Goal) && @user.is_owner?(current_user)%>
        <div id='new_goal'>
          <span>
            <%= link_to "新增目標", new_goal_path %>
          </span>
        </div>
      <% end %>
  </div>
<div id='exp_list'>
  <h2>經驗
    <% if can?(:create, Experience) && @user.is_owner?(current_user) %>
      <%= link_to ' ( 新增 ) ', new_user_experience_path(current_user) %>
    <% end %>
  </h2>
<table>
  <% @experience_groups.keys.each do |time| %>
    <tr><td><h3><%= time.to_s(:ym)%></h3></td></tr>
    <% @experience_groups[time].each do |experience| %>
      <tr>
        <td class='time'><%= experience.start_at.to_s(:date) if experience.start_at %></td>
        <td class='time'><%= experience.end_at_date %></td>
        <td class='exp_content'><%= link_to truncate_u(Sanitize.clean(experience.content), 40), experience %></td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>

<% content_for :head do %>

  <script>
    Timeline_ajax_url= '<%= javascript_path "timeline/timeline_ajax/simile-ajax-api.js" %>';
    Timeline_urlPrefix='<%= "#{ActionController::Base.asset_host}/javascripts/timeline/timeline_js/" %>';
    Timeline_parameters="bundle=true";
  </script>
  <%= javascript_include_tag 'timeline/timeline_js/timeline-api.js' %>

<% end %>
<% content_for :bottom_js do %>
  <script>
    var timeline_data = {  // save as a global variable
      'dateTimeFormat': 'iso8601',
      'events' : <%= @events %>
    }
  </script>

  <script type='text/javascript'>
    var tl;
    function onLoad() {
        var tl_el = document.getElementById("exp_chart");
        var eventSource1 = new Timeline.DefaultEventSource();
        
        var theme1 = Timeline.ClassicTheme.create();
        theme1.event.bubble.width = 350;   // modify it
        theme1.event.bubble.height = 300;
        theme1.event.track.height = 15;
        theme1.event.tape.height = 10;

        theme1.timeline_start = new Date(<%= timeline_start_time(@user) %>);
        var t = new Date();
        var year = t.getFullYear();
        theme1.timeline_stop  = new Date(year+5, 12, 31);
        
  // 置中
        var d = Timeline.DateTime.parseGregorianDateTime(new Date(<%= @experiences.first.try(:start_at).try(:to_s, :js_date) %>));
        var bandInfos = [
            Timeline.createBandInfo({
                width:          "80%", // set to a minimum, autoWidth will then adjust
                intervalUnit:   Timeline.DateTime.MONTH, 
                intervalPixels: 150,
                eventSource:    eventSource1,
                date:           d,
                theme:          theme1,
                timeZone:       8,
                layout:         'original'  // original, overview, detailed
            }),
            Timeline.createBandInfo({
                width:          "20%", // set to a minimum, autoWidth will then adjust
                intervalUnit:   Timeline.DateTime.YEAR, 
                intervalPixels: 100,
                eventSource:    eventSource1,
                date:           d,
                theme:          theme1,
                timeZone:       8,
                layout:         'overview'  // original, overview, detailed
            })
        ];
  
  bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
                                                        
        // create the Timeline
        tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);
        
        var url = '.'; // The base url for image, icon and background image
                       // references in the data
        eventSource1.loadJSON(timeline_data, url); // The data was stored into the 
                                                   // timeline_data variable.
        tl.layout(); // display the Timeline
    }

    var resizeTimerID = null;
    function onResize() {
      if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
            }, 500);
      }
    }

    $(document).ready(function(){
      onLoad();
    });

    $(document).resize(function() {
      onResize();
    });

        
   </script>
<% end %>


