<% title "#{@user.username} experiences" %>
<div id='exp_chart'>
</div>

<div id='goal_list'>
  <h2>Goals / Category
    <% if can? :create, Goal%>
      <%= link_to "Create Your Goal", new_goal_path %>
    <% end %>
  </h2>
<table>
  <tr>
    <th>Category</th>
    <th>title</th>
    <th>detail</th>
    <th>experiences_count</th>
    <th>Tags</th>
    <th>Start At</th>
    <th>State</th>
  </tr>
  <% for goal in @goals %>
    <tr>
      <td><%=link_to h(goal.title), user_experiences_path(@user, :goal_id => goal.id) %></td>
      <td><%=link_to h(goal.title), goal %></td>
      <td><%=h truncate_u(Sanitize.clean(goal.content), 12) %></td>
      <td><%=h goal.experiences_count %></td>
      <td><%h tag_link goal %></td>
      <td><%=h goal.start_at.to_s(:date) if goal.start_at %></td>
      <td><%=h goal.state %></td>
    <% if can? :update, goal %>
      <td><%= link_to "Edit", edit_goal_path(goal) %></td>
    <% end %>
    <% if can? :destroy, goal%>
      <td><%= link_to "Destroy", goal, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
    </tr>
  <% end %>
</table>
</div>
<div id='exp_list'>
  <h2>experiences
    <% if can? :create, Experience %>
      <%= link_to 'Create Your Experience', new_user_experience_path(current_user) %>
    <% end %>
  </h2>
<table>
  <tr>
    <th>Start At</th>
    <th>End At</th>
    <th>Content</th>
    <th>Type</th>
    <th>Goal</th>
    <th>Tags</th>
    <th>Location</th>
  </tr>

  <% @experience_groups.keys.each do |time| %>
    <tr><td><h3><%= time.to_s(:ym)%></h3></td></tr>
    <% @experience_groups[time].each do |experience| %>
      <tr>
        <td><%= experience.start_at.to_s(:date) if experience.start_at %></td>
        <td><%= experience.end_at_date %></td>
        <td><%= link_to truncate_u(Sanitize.clean(experience.content), 15), experience %></td>
        <td><%= EXP_TYPE[experience.exp_type] if experience.exp_type %></td>
        <td><%= link_to experience.goal.title, experience.goal if experience.goal %></td>
        <td>
          <% tag_link experience %>
        </td>
        <td>
          <%= experience.location_list %>
        </td>

        <% if can? :update, experience %>
          <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
        <% end %>
        <% if can? :destroy, experience %>
          <td><%= link_to 'Destroy', experience, :confirm => 'Are you sure?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
</div>

<% content_for :head do %>
  <script>
    Timeline_ajax_url= '/javascripts/timeline/timeline_ajax/simile-ajax-api.js';
    Timeline_urlPrefix='/javascripts/timeline/timeline_js/';
    Timeline_parameters="bundle=true";
  </script>

  <%= javascript_include_tag 'timeline/timeline_js/timeline-api.js' %>

  <script>
    var timeline_data = {  // save as a global variable
      'dateTimeFormat': 'iso8601',
      'events' : <%= @events %>
    }
  </script>

  <script type='text/javascript'>
    var tl;
    function onLoad() {
        var tl_el = document.getElementById("exp_chart");
        var eventSource1 = new Timeline.DefaultEventSource();
        
        var theme1 = Timeline.ClassicTheme.create();
        theme1.event.bubble.width = 350;   // modify it
        theme1.event.bubble.height = 300;
        theme1.event.track.height = 15;
        theme1.event.tape.height = 10;

        theme1.timeline_start = new Date('<%= timeline_start_time(@user, @experiences) %>');
        theme1.timeline_stop  = new Date;
        
  // 置中
  var d = Timeline.DateTime.parseGregorianDateTime(new Date('<%= @experiences.first.try(:start_at).try(:to_s, :js_date) || Time.now %>'));
        var bandInfos = [
            Timeline.createBandInfo({
                width:          "80%", // set to a minimum, autoWidth will then adjust
                intervalUnit:   Timeline.DateTime.MONTH, 
                intervalPixels: 150,
                eventSource:    eventSource1,
                date:           d,
                theme:          theme1,
                timeZone:       8,
                layout:         'original'  // original, overview, detailed
            }),
            Timeline.createBandInfo({
                width:          "20%", // set to a minimum, autoWidth will then adjust
                intervalUnit:   Timeline.DateTime.YEAR, 
                intervalPixels: 100,
                eventSource:    eventSource1,
                date:           d,
                theme:          theme1,
                timeZone:       8,
                layout:         'overview'  // original, overview, detailed
            })
        ];
  
  bandInfos[1].syncWith = 0;
  bandInfos[1].highlight = true;
                                                        
        // create the Timeline
        tl = Timeline.create(tl_el, bandInfos, Timeline.HORIZONTAL);
        
        var url = '.'; // The base url for image, icon and background image
                       // references in the data
        eventSource1.loadJSON(timeline_data, url); // The data was stored into the 
                                                   // timeline_data variable.
        tl.layout(); // display the Timeline
    }

    var resizeTimerID = null;
    function onResize() {
      if (resizeTimerID == null) {
        resizeTimerID = window.setTimeout(function() {
            resizeTimerID = null;
            tl.layout();
            }, 500);
      }
    }

    $(document).ready(function(){
      onLoad();
    });

    $(document).resize(function() {
      onResize();
    });

        
   </script>
<% end %>


