<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{@user.profile.updated_at.to_s(:fulltime)}") do
    title "#{@user.username} 的傳承"
    description "#{truncate_u(Sanitize.clean(@user.profile.intro || ''), 100)}" 
    keywords @user.profile.tag_list 
    display_meta_tags :site => '傳承' 
  end %>  
<% end %>

<div id='exp_chart'>
</div>
<div class='clear'></div>

<div id="centeredmenu">
  <ul>
    <li>
      <%= link_to "#{@user.username} 簡介", user_profile_path(@user), (current_page?(user_profile_path(@user)) ? {:class => 'active'} : nil) %>
    </li>
    <li>
      <%= link_to "All", user_home_path(@user.username), ( current_page?(user_home_path(@user.username)) ? {:class => 'active'} : nil) %>
    </li>
    <% for goal in @goals %>
      <li>
        <%=link_to h(goal.title), user_exps_path(@user, goal), ( goal.id == params[:goal_id].to_i ? {:class => 'active'} : nil) %>
      </li>
    <% end %>
    <% if can?(:create, Goal) && @user.is_owner?(current_user)%>
      <li class='new_goal'>
        <%= link_to "新增分類", new_goal_path %>
      </li>
    <% end %>
  </ul>
</div>

<div class='grid-top'>
  <div id='fans_area'>
    <span id='exp_follower'>
      <strong>粉絲</strong>
      <span class='anchor'>
        <%= link_to @user.fans_count, user_fans_path(@user) %>
      </span>
    </span>
    <% if !@user.is_owner?(current_user)%>
      <span>
        <% if @fan.new_record? %>
          <% form_for @fan, :html => {:id => 'trigger_follow'} do |f| %>
            <%= f.hidden_field :fannable_id %>
            <%= f.hidden_field :fannable_type %>
            <%= f.hidden_field :user_id %>
            <%= f.submit "訂閱", :name => nil%>
          <% end %>
        <% else %>
          <%= link_to '取消訂閱', @fan, :confirm => 'Are you sure?', :method => :delete, :id => 'trigger_follow' %>
        <% end %>
      </span>
    <% end %>
    <span id='exp_ifollew'>
      <strong>訂閱</strong>
      <span class='anchor'>
        <%= link_to @user.user_ifollow_count, ifollow_user_fans_path(@user) %> 
      </span>
    </span>
  </div>
  <% if @current_goal %>
    <div id='goal_detail' class='goal_desc'>
      <%= link_to truncate_u(Sanitize.clean(@current_goal.content), 100), @current_goal %>
    </div>
  <% end %>
</div>
<div class='clear'></div>
<div id='exp_list'>
  <h2>經驗
    <% if can?(:create, Experience) && @user.is_owner?(current_user) %>
      <span id='new_exp'>
        <% if @current_goal %>
          <%= link_to ' ( 新增 ) ', new_goal_experience_path(@current_goal) %>
        <% else %>
          <%= link_to ' ( 新增 ) ', new_user_experience_path(current_user) %>
        <% end %>
      </span>
    <% end %>
  </h2>
<table>
  <% @experience_groups.keys.each do |time| %>
    <tr><td><h3><%= time.to_s(:ym)%></h3></td></tr>
    <% @experience_groups[time].each do |experience| %>
      <tr>
        <td class='time'>
          <%= experience.start_at.to_s(:md) if experience.start_at %>
          <%= experience.end_at_date %>
        </td>
        <td class='exp_content'>
          <%= link_to truncate_u(Sanitize.clean(experience.content), 30), experience, :popup => true %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>
<div class='clear'></div>

<% content_for :head do %>
  <script>
    Timeline_ajax_url= '<%= javascript_path "timeline/timeline_ajax/simile-ajax-api.js" %>';
    Timeline_urlPrefix='<%= "#{ActionController::Base.asset_host}/javascripts/timeline/timeline_js/" %>';
    Timeline_parameters="bundle=true";
  </script>
  <%= javascript_include_tag 'timeline/timeline_js/timeline-api.js' %>
<% end %>

<% content_for :bottom_js do %>
  <script>
    user_event= <%= @events %>;
    timeline_start_at = new Date(<%= timeline_start_time(@user) %>);
    timeline_default_at = new Date(<%= @experiences.first.try(:start_at).try(:to_s, :js_date) %>);
  </script>
<% end %>


