<% content_for :meta_tag do%>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{@experience.updated_at.to_s(:fulltime)}") do
    title "#{truncate_u(Sanitize.clean(@experience.content), 10)}" 
    description "#{truncate_u(Sanitize.clean(@experience.content), 100)}" 
    keywords @experience.tag_list 
    if @experience.public
      display_meta_tags :site => t('site.name') 
    else
      display_meta_tags :site => t('site.name') , :noindex => true, :nofollow => true
    end
  end %>  
<% end %>


<div id='exp_show_main'>
    <h4>Share link(10分鐘後失效)</h4>
    <%= text_field_tag 'share-url', url_for(:controller => 'experiences', :action => 'show', :id => @experience.share_url, :only_path => false), :size => 80 %>
  <div id='exp_show_content'>
    <div>
      <span id='exp_show_time'>
        <%= @experience.start_at.to_s(:date)%>
        <%=h "~ #{@experience.end_at.to_s(:date)}" if @experience.end_at %>
      </span>
    </div>

    <% if @experience.goal %>
      <p class='exp_category'>
      <strong><%= t'exp.belong_goal'%>:</strong>
        <%= @experience.goal.title %>
      </p>
    <% end %>

    <p class='exp-content'>
      <%= @experience.content %>
    </p>
    <% if @experience.url %>
      <h4 class='url_title'>
        <%= link_to @experience.url_title, @experience.url, :target => '_blank' %>
      </h4>
      <p class='url_desc'>
      <%= @experience.url_content %>
      </p>
    <% end %>
  </div>
</div>
