<% title "#{@experience.user.username} experiences" %>

<% content_for :sider do %>
  <div id='exp_show_side'>
    <h3>類似經驗</h3>
    <ul>
      <% @experience.find_related_tags.each do |e| %>
        <li><%= link_to truncate_u(Sanitize.clean(e.content), 20), e%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id='exp_show_main'>
  <div id='exp_show_content'>
    <div>
      <span id='exp_show_time'>
        <%= @experience.start_at.to_s(:fulltime )%> ~ <%= @experience.end_at.to_s(:fulltime) %> 
      </span>
      Author: <%= link_to "#{@experience.user.username}",  user_experiences_path(@experience.user) %>
      <% if can? :update, @experience %>
        <%= link_to 'Edit', edit_experience_path(@experience) %>
      <% end %>
    </div>
    <p>
      <%= @experience.content %>
    </p>

  </div>
  加油 :<%= @experience.votes_for %>

  <% form_for @vote do |f| %>
    <%= hidden_field_tag :voteable_type, @vote.voteable_type %>
    <%= hidden_field_tag :exp_id, @experience.id%>
    <%= hidden_field_tag :vote, 1 %>
    <%= f.submit "加油" %>
  <% end %>



  <hr >
  <h3>New Comment</h3>
  <%= render :partial => 'comments/form' %>

  <h3>Comments</h3>
  <ul>
    <% @comments.each do |c| %>
      <li>
        <%= link_to c.user.username, user_experiences_path(c.user) %>
        <%= c.comment %>
      </li>
    <% end %>
  </ul>


</div>
