<% title "#{@experience.user.username} experiences" %>

<% content_for :sider do %>
  <div id='exp_show_side'>
    <h3>類似經驗</h3>
    <ul>
      <% @experience.find_related_tags.each do |e| %>
        <li><%= link_to truncate_u(Sanitize.clean(e.content), 40), e%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id='exp_show_main'>
  <div id='exp_show_content'>
    <div>
      <span id='exp_show_time'>
        <%= @experience.start_at.to_s(:date)%> ~ <%= @experience.try(:end_at).try(:to_s, :date) %> 
        <%= '(私密)' if !@experience.public %>
      </span>
      <span class='exp_author'>
        By <%= link_to "#{@experience.user.username}",  user_home_path(@experience.user) %>
      </span>

      <% if can? :update, @experience %>
        <span class='exp_function'>
          <%= link_to '編輯', edit_experience_path(@experience) %>
        </span>
      <% end %>
      <span class='exp_function'>
        <% if can? :destroy, @experience %>
          <%= link_to '刪除', @experience, :confirm => '你確定嗎?', :method => :delete %>
        </span>
      <% end %>

    </div>
    <p><%= link_to @experience.goal.title, @experience.goal if @experience.goal %></p>
    <p>
      <%= @experience.content %>
    </p>
    <p>
      <strong>關鍵字: </strong>
      <span class='exp_tags'>
        <% tag_link @experience %>
      </span>
      <div class='cheer_function'>
        <% if @experience.votes_for > 0%>
          <strong> <%= @experience.votes_for %> 人說讚</strong>
        <% end %>

        <% form_for @vote do |f| %>
          <%= hidden_field_tag :voteable_type, @vote.voteable_type %>
          <%= hidden_field_tag :exp_id, @experience.id%>
          <%= hidden_field_tag :vote, 1 %>
          <%= f.submit "讚" %>
        <% end %>
      </div>
      <div class='clear'></div>

    </p>
    <%#= EXP_TYPE[@experience.exp_type] if @experience.exp_type %>
    <%#= @experience.location_list %>

  </div>
  <% if !@questions.blank? %>
    <h3>處理的問題</h3>
    <ul>
      <% @questions.each do |question| %>
        <li>
          <span class='question_title'><%= link_to truncate_u(Sanitize.clean(question.content), 15), question %></span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <hr >
  <%= render :partial => 'comments/form' %>

  <h3>回覆</h3>
  <div class='commentlist'>
    <% @comments.each do |c| %>
      <div class='comment'>
        <h3><span class='exp_author'><%= link_to c.user.username, user_home_path(c.user) %></span> 說...</h3>
        <div><%= Sanitize.clean(c.comment) %></div>
      </div>
    <% end %>
  </div>


</div>
