<% content_for :head do %>
  <%= include_tiny_mce_if_needed %>
<% end %>

<% form_for @goal do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :category, :value => 'category' %>
  <p class='goal_start_at'>
    <%= f.label :start_at, '開始時間' %><br />
    <%= f.date_select :start_at, :use_month_numbers => true, :start_year => current_user.try(:birthday).try(:year) || 1950, :end_year => Time.now.year  %>
  </p>
  <p class='goal_state'>
    <%= f.label :state, '狀態' %><br />
    <%= f.select :state, GOAL_STATES.to_select_options %>
  </p>
  <p class='goal_end_at'>
    <%= f.label :end_at, '完成時間' %><br />
    <%= f.date_select :end_at, :use_month_numbers => true, :start_year => current_user.try(:birthday).try(:year) || 1950, :end_year => Time.now.year %>
  </p>
  <p>
    <%= f.label :title, "名稱"%><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content, "描述" %><br />
    <%= f.text_area :content, :size => '40x10', :class => "mceEditor"  %>
  </p>
  <p>
    <%= f.label :tag, '標籤(請用空白隔開)'  %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.radio_button :public, true %>
    <%= f.label :public, '公開' %><br />

    <%= f.radio_button :public, false %>
    <%= f.label :public, '私密(自己才看的到)' %>
  </p>
  <p><%= f.submit "送出" %></p>
<% end %>
<%= javascript_include_tag 'goal' %>

<%# '表示從facebox 出來' %>
<% if params[:rel] %>
<script type='text/javascript'>
  $(function() {
      $("#new_goal").submit(function(){  
        $(document).trigger('close.facebox');
        $('#action_comeplete_status').hide();
        $('#action_working_status').show();

        $.ajax({
          url: $(this).attr("action")+'.js',
          type: 'POST',
          data: $(this).serialize(),
          success: function(categories){
            $('#exp_categories').html(categories);
            $('#experience_goal_id').attr('value', $('#experience_goal_id option:last').attr('value'));
            $('#action_working_status').hide();
            $('#action_comeplete_status').show();
          }
        });
        return false;  
      });  
  });
</script>
<% end %>
