<% form_for @goal do |f| %>
  <%= f.hidden_field :category, :value => 'category' %>
  <div class='form-input'>
    <p>
    <span class='mustbe'>＊</span>
    <%= f.label :title, t("goal.name")%><br />
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :content, t("goal.content") %><br />
    <%= f.text_area :content, :size => '32x5' %>
    </p>
  </div>
  <p><%= f.submit t("action.submit") %></p>
<% end %>

<%# '表示從facebox 出來' %>
<% if params[:rel] %>
  <%= javascript_include_tag 'goal_ajax_create' %>
<% end %>
