<% content_for :head do %>
  <%= include_tiny_mce_if_needed %>
<% end %>
<% form_for @goal do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, "Goal Name"%><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content, "Detail" %><br />
    <%= f.text_area :content, :size => '60x20', :class => "mceEditor"  %>
  </p>
  <p>
    <%= f.label :start_at %><br />
    <%= f.date_select :start_at, :use_month_numbers => true  %>
  </p>
  <p>
    <%= f.label :tag %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.select :state, GOAL_STATES.to_select_options %>
  </p>
  <p>
    <%= f.label :public, '公開' %><br />
    <%= f.check_box :public %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
