<% title t("goal.guys") %>

    <ul class="menu">  
      <li class="<%= current_tab(params[:state], 'working') %>">
      <%= link_to t('goal.working'), goals_path(:state => 'working') %>
      </li>  
      <li class="<%= current_tab(params[:state], 'help') %>">
      <%= link_to t('goal.needhelp'), goals_path(:state => 'help') %>
      </li>  
      <li class="<%= current_tab(params[:state], 'finish') %>">
      <%= link_to t('goal.finish'), goals_path(:state => 'finish') %>
      </li>  
    </ul> 
    <div class="clear"></div>
    <div class="menu_content">  
      <% @goals.each do |goal| %>
        <div class='goal_cell'> <%= link_to truncate_u(goal.title, 40), goal %></div>
      <% end %>
    </div>  
    <%= will_paginate @goals %>
