<% title "#{@goal.user.username} goal #{@goal.title}" %>
<p>
  <strong>Author:</strong>
  <%= link_to "#{@goal.user.username}",  user_experiences_path(@goal.user) %>
  <% if can? :update, @goal %>
    <%= link_to "Edit", edit_goal_path(@goal) %> |
  <% end %>

  <% if can? :destroy, @goal %>
    <%= link_to "Destroy", @goal, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
</p>
<p>
  <strong>Start At:</strong>
  <%=h @goal.start_at %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @goal.title %>
</p>
<p>
  <strong>Content:</strong>
  <%= @goal.content %>
</p>
<p>
  <strong>State:</strong>
  <%=h @goal.state %>
</p>
<p>
  <% h tag_link @goal %>
</p>

<h3>類似目標</h3>
  <ul>
    <% @goal.find_related_tags.each do |g| %>
      <li><%= link_to truncate_u(g.title), g%></li>
    <% end %>
  </ul>
  <hr >

<h3><%= @goal.title %> experiences</h3>
<ul>
  <% @goal.experiences.each do |e| %>
    <li><%= link_to truncate_u(e.content), e%> <%= e.start_at.to_s(:date) %></li>
  <% end %>
</ul>

<% if can? :create, Experience %>
  <%= link_to 'New experience', new_goal_experience_path(@goal) %>
<% end %>
