<% title @goal.title %>
<% description "#{truncate_u(Sanitize.clean(@goal.content), 100)}" %>
<% keywords @goal.tag_list %>

<%= facebook_like %>
<%= share_button %>
<div class='clear'></div>
<h1 class='avatared anchor'><%= link_to_user_home(@goal.user) %> > <%= @goal.title %></h1>
<div class='clear'></div>
<% content_for :sider do %>
  <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{I18n.locale}-sider", :expires_in => 60 ) do
    render :partial => 'show_sider', :locals => {:goals => @related_goals}
  end %>  
<% end %>

<div id='goal_show_main'>
  <div id='goal_show_content'>
    <div>
      <h2><%=h @goal.title %></h2>
      <span id='goal_show_time'>
        <%=h @goal.start_at.to_s(:date) if @goal.start_at %>
        <%=h "~ #{@goal.end_at.to_s(:date)}" if @goal.end_at %>
        <%= "(#{t'goal.private'})" if !@goal.public %>
      </span>
      <span class='goal_author'>
        By <%= link_to_user_home(@goal.user) %>
      </span>

      <% if can? :update, @goal %>
        <span class='goal_function'>
          <%= link_to t('action.edit'), edit_goal_path(@goal) %>
        </span>
      <% end %>
      <% if can? :destroy, @goal %>
        <span class='goal_function'>
          <%= link_to t('action.destroy'), @goal, :confirm => t('action.confirm'), :method => :delete %>
        </span>
      <% end %>

    </div>
    <p>
      <%#= GOAL_CATEGORY[@goal.category] %>
      <strong><%= t'goal.state'%>:</strong>
      <%= t(GOAL_STATES[@goal.state]) %>
    </p>
    <p>
    <strong><%= t'goal.percentage'%>:</strong>
    <%= ntp(@goal.percentage) %>
    </p>
    <p>
    <strong><%= t'goal.tags'%>: </strong>
      <span class='goal_tags'>
        <% tag_link @goal%>
      </span>
      <div class='clear'></div>
    </p>
    <p class='goal-content'>
      <%= @goal.content %>
    </p>
  </div>

  <hr >
  <h3><%= t'goal.exps' %></h3>
  <% if @experiences.blank? %>
    <em><%= t'goal.noexps' %></em>
  <% else %>
    <ul>
      <% @experiences.each do |experience| %>
        <li class='exp_list_cell'>
        <span class='time'>
          <%= experience.start_at.to_s(:md) if experience.start_at %>
          <%= experience.end_at_date %>
        </span>
        <span class='exp_content'>
          <%= link_to truncate_u(Sanitize.clean(experience.content), 10), experience_path(experience, {:goal_id => @goal.id}) %>
        </span>
        </li>
      <% end %>
    </ul>
  <% end %>
  <hr >
  <%= render :partial => 'comments/form' %>

  <h3><%= t'comment.label'%></h3>
  <div class='commentlist'>
    <% @comments.each do |c| %>
      <div class='comment'>
        <h3><span class='goal_author'><%= link_to_user_home(c.user) %></span> <%= t'comment.say'%>...</h3>
        <div><%= Sanitize.clean(c.comment) %></div>
      </div>
    <% end %>
  </div>


</div>
