<h1><%= params[:taggable_type] %> about <%= params[:id] %></h1>

<table>
  <tr>
    <th>Content</th>
    <th>Start At</th>
    <th>End At</th>
  </tr>

<% @taggable_objs.each do |obj| %>
  <tr>
    <td><%= link_to obj.content, obj%></td>
    <td><%= obj.start_at.to_s(:date) if obj.start_at %></td>
    <td><%= obj.end_at.to_s(:date) if obj.end_at %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @taggable_objs %>
