<% title t"action.like" %>
<span class='anchor'>
  <%= link_to t("exp.comeback"), @experience %>
</span>
<h2><%= @users.count %><%= t'exp.guy_encourage_you' %></h2>
<ul>
  <% @users.each do |u| %>
    <li class='exp_author'>
      <%= link_to_user_home(u) %>
      <%= truncate_u(Sanitize.clean(u.profile.intro), 30) %>
    </li>
<% end %>
</ul>
