<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- REQUIRED: Include Facebook XMLNS (XML namespace). -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"  xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield(:meta_tag) || display_meta_tags(:site => t('site.name')) %>
  <%= stylesheet_link_merged :base %>
  <%= yield(:head) %>
</head>
<body>
  <div id='container'>
    <div id="dashboard">
      <ul>
        <li id='dashboard_options' class='anchor'>
          <% if user_signed_in? %>
            <span class='space'> <%= link_to current_user.showname, user_home_path(current_user.username) %></span>
            <span class='space'> <%= link_to t("user.setting"), user_profile_path(current_user)%></span>
            <span class='space'> 
              <% if current_user.is_facebook_user? %>
                <%= facebook_sign_out_link :user %>
              <% else %>
                <%= link_to t"sessions.sign_out", destroy_user_session_path %></span>
            <% end %>
            </span>
          <% else %>
            <span class='space'> <%= link_to t("registrations.link"), new_user_registration_path %></span>
            <span class='space'> <%= link_to t("sessions.sign_in"), new_user_session_path %></span>
          <% end %>


          <% if user_signed_in? %>
            <span class='anchor'>
              <%= t'user.location'%>：<%= link_to(current_user_location, user_location_url, :rel => "facebox", :id => 'user_location') %>
            </span>
          <% end %>
          <span class='anchor'>
            <%= t'user.locale'%>：<%= language_selection %>
          </span>
        </li>
      </div>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <div id='header'>
        <div id='logo'>
          <h2 id='logo'><%= link_to t("site.name"), root_url %></h2>
        </div>

        <div id='menus'>
          <ul id='main_menu'>
            <% if user_signed_in? %>
              <li><%= link_to t("site.index"), home_url %></li>
              <li><%= link_to t("site.home"), user_home_path(current_user.username)%></li>
            <% else %>
              <li><%= link_to t("site.index"), home_url %></li>
            <% end %>
            <li><%= link_to t("site.suggestion"), chats_path %></li>
            <li><%= link_to t("site.excite"), search_rands_path %></li>
            <li>
              <% form_tag search_url, :method => :get do %>
                <%= t('site.search')%>: <%= text_field_tag :search, nil, :size => 10 %>
                <%= submit_tag t('site.search'), :name => nil %>
              <% end %>
            </li>
          </ul>
        </div>

      </div>

      <div id='layout'>
        <%= yield %>
        <%= yield :sider %>
      </div>
    <div class='clear'></div>
  </div>
  <div id='footer'>
  </div>
  <%= javascript_include_merged :base %>

  <!-- REQUIRED: Include Facebook Javascript (with current locale). See Facebooker documentation. -->
  <%= fb_connect_javascript_tag(:lang => ::I18n.locale) %>
  <!-- REQUIRED: Include devise_facebook_connectable Javascripts. -->
  <%= javascript_include_tag 'devise.facebook_connectable' %>
  <!-- REQUIRED: Init Facebook Javascript (using jQuery). See Facebooker documentation. -->
  <%= init_fb_connect :XFBML, :js => :jquery %>

  <%= yield :bottom_js %>
</body>
</html>
