<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= yield(:meta_tag) || display_meta_tags(:site => t('site.name')) %>
  <%= stylesheet_link_merged :base %>
  <%= yield(:head) %>
  <%= google_analytics_script %>
</head>
<body>
  <div id='homepage_container'>
    <div id='homepage_content'>
      <%= Handcache.get_and_set("#{params.values.sort.to_s}-#{I18n.locale}-#{current_user_location}", :expires_in => 60) do
        yield
      end %>  
    </div>
  </div>
  <div id='footer' class='anchor'>
    <%= link_to t('site.about'), about_path %>
    ©2010 by <a href='http://www.facebook.com/ilakela'>ilake.</a>
  </div>
  <%= javascript_include_merged :base %>
  <%= javascript_include_tag 'application' %>
  <%= yield :bottom_js %>
</body>
</html>
